

.container{
    text-shadow: #ffffff;
    font-size: x-large;
    color: #FFFFFF;
    margin:5%;
}
h1{
    color: #FFFFFF;
    font-size: 10rem;
    margin: 20px;
}



body {
	background: linear-gradient(-45deg, #000000, #2a2326, #2b4f5e, #af1e1e);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
    text-align: center;
    font-family: 'Rowdies', cursive;


}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.btn{
    margin-top: 10px;
display: inline-block;
outline: 0;
border: 0;
cursor: pointer;
transition: box-shadow 0.15s ease,transform 0.15s ease;
will-change: box-shadow,transform;
background: #FCFCFD;
box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
height: 48px;
padding: 10px 32px;
font-size: 25px;
border-radius: 6px;
color: #36395a;
transition: box-shadow 0.15s ease,transform 0.15s ease;
width: 400px;
font-family: 'Rowdies', cursive;

}
.btn:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-2px);
}
.btn:active{
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(2px);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Rowdies', cursive;

}

input[type="text"]{
    width: 40%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}




.response-area {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #251717;
    size: 50%;
    text-align: center;
    padding: 20px 10px;
    border: 1px solid #ffffff;
    border-radius: 2%;
    cursor: pointer;
}